
@{
    ViewBag.Title = "Add Entry";

    //var items = new[]
    //{
    //    new { Id =1,Name ="Item 1"},
    //    new { Id =2,Name = "Item 2"}
    //};

    //var selectList = new[]
    //{
    //    new SelectListItem(){Value ="1", Text ="Item 1",Selected = false},
    //    new SelectListItem(){Value ="2",Text ="Item 2",Selected = true}
    //};

    //var selectList = new SelectList(items, "Id", "Name");


}

<h2>@ViewBag.Title</h2>

@Html.Partial("_EntryForm")
